label.solid-blue {
    border-style: solid;
    border-color: blue;
    font-size: 25px
}

label.solid-red {
    border-style: solid;
    border-color: red;
    font-size: 25px
}

* {
  box-sizing: border-box;
}

.oul {
  text-align:left;
}

.selected
{
  background-color:yellow;
}
